{% extends 'base.html.twig' %}

{% block title %}Hello TableController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Table de {{ n }}</h1>
    <p>Méthode {{ method }}</p>
    <table>
        {% for i in 0..10 %}
            <tr><td>{{ i }} x {{ n }} = </td><td> {{ i*n }} </td></tr>
        {% endfor %}
    </table>

</div>
{% endblock %}
